body {
  font-family: "poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4em;
}

/*---------- HEADER START ----------*/

/*----- HEADER TOP -----*/

.header-top {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 3px 80px;
  background-color: #ad2100;
}

.header-top a {
  text-decoration: none;
  color: #fff;
}

.header-top a:visited {
  color: #fff;
}

.email {
  flex: 1 1 auto;
  text-align: left;
}

.icons {
  flex: 1 1 auto;
  text-align: center;
}

.icons i {
  padding: 0 5px;
}

.contact {
  flex: 1 1 auto;
  text-align: right;
}

/*----- HEADER BOTTOM   -----*/

.header-bottom {
  display: flex;
  align-items: center;
  padding: 20px 60px;
}

.main-logo {
  flex: 2 1 auto;
}

.main-logo img {
  display: inline;
}

.nav-bar {
  flex: 1 1 auto;
}

.menu {
  list-style: none;
  text-align: right;
}

.menu li {
  display: inline;
  padding: 30px;
}

.menu .active a {
  color: #ad2100;
}

.menu li a {
  text-decoration: none;
  color: #616361;
}

/*---------- HEADER END ----------*/

/*---------- MAIN START ----------*/

.container {
  padding: 0 20px;
  display: flex;
}

.slide-show {
  flex: 1 1 auto;
}

.slide-show img {
  width: 600px;
}

.intro {
  flex: 1 1 auto;
  padding: 0 30px;
}

.dark_brown {
  color: #ad2100;
}

.article {
  font-size: 20px;
}

.main-button {
  padding: 20px 70px;
  background-color: black;
  color: #fff;
  border: 0;
  margin: 100px 0 0 25px;
}

a {
  text-decoration: none;
}
